.menu__link_footer{
	text-decoration: none;
	padding-right: 30px;
	color: #434543;
	text-transform: uppercase;
	font-weight: 400;
	opacity: 1;
	transition: opacity 1s ease;
}

.menu__link_footer:last-child{
	padding-right: 0;
}

.menu__link_footer:hover{
	opacity: 0.6;
}

@media screen and (max-width: 970px){
	.menu__link_footer{
		padding-right: 0;
		font-size: 20px;
		letter-spacing: 2px;
	}
}