.subscribe__title{
	max-width: 145px;
	margin: 0 auto;
	padding: 0 0 25px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
}

@media screen and (max-width: 970px){
	.subscribe__title{
		max-width: 300px;
		font-size: 30px;
		padding: 0 0 10px;
		font-weight: 400;
	}
}