.about__image{
	width: 50%;
	min-height: 640px;
	background-image: url('../../../image/eduard-militaru-D5c_XKM2tkE-unsplash\ \(1\).jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

@media screen and (max-width: 970px){
	.about__image{
		width: 100%;
		min-height: 250px;
	}
}