.subscribe{
	background-color: #dee3dd;
	max-width: 1280px;
	min-height: 500px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media screen and (max-width: 970px){
	.subscribe{
		max-width: 320px;
		min-height: 350px;
		
	}
}