@import url('../vendor/normalize.css');
@import url('../vendor/fonts/fonts.css');
@import url('../blocks/page/page.css');
@import url('../blocks/header/header.css');
@import url('../blocks/header/__logo/header__logo.css');
@import url('../blocks/menu/menu.css');
@import url('../blocks/menu/__link/menu__link.css');
@import url('../blocks/content/content.css');
@import url('../blocks/cover/cover.css');
@import url('../blocks/cover/__title/cover__title.css');
@import url('../blocks/cover/__subtitle/cover__subtitle.css');
@import url('../blocks/articles/articles.css');
@import url('../blocks/articles/__title/articles__title.css');
@import url('../blocks/articles/__grid/articles__grid.css');
@import url('../blocks/card/card.css');
@import url('../blocks/card/__image/card__image.css');
@import url('../blocks/card/__title/card__title.css');
@import url('../blocks/about/about.css');
@import url('../blocks/about/__image/about__image.css');
@import url('../blocks/about/__body/about__body.css');
@import url('../blocks/about/__title/about__title.css');
@import url('../blocks/about/__text/about__text.css');
@import url('../blocks/subscribe/subscribe.css');
@import url('../blocks/subscribe/__title/subscribe__title.css');
@import url('../blocks/subscribe/__subtitle/subscribe__subtitle.css');
@import url('../blocks/form/form.css');
@import url('../blocks/form/__input/form__input.css');
@import url('../blocks/form/__subs-btn/form__subs-btn.css');
@import url('../blocks/footer/footer.css');
@import url('../blocks/menu/_footer/menu_footer.css');
@import url('../blocks/menu/__link/_footer/menu__link_footer.css');
@import url('../blocks/footer/__icons/footer__icons.css');
@import url('../blocks/footer/__icons-link/footer__icons-link.css');
@import url('../blocks/footer/__social/footer__social.css');



/* 



.articles {
    text-align: center;
    margin: 0 0 -10px;
}
.articles__body{
    background: #f3f3f1;
    padding: 60px 0;
}
.vertical_articles{
    margin: 50px 20px;
    
}
.articles__row {
    display: flex;
    margin: 0px -10px;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.articles__colums{
    flex: 0 1 auto;
    display: flex;
    padding: 0 10px; 
    justify-content: space-evenly;
    
    
}
.colums_item {
    background: #fbfbfc;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    
    margin: 10px 0;
}
.item__image{
}
.item__image img{
    max-height: 170px;
    max-width: 330px;

}
.item__text {
    font-family: Arial, serif;
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    padding: 22%;
}


.card-3 {}
.about {}
.about__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.about__image {
    flex: 0 0 370px;
}
.about__body {
    text-align: center;
    flex: 1 1 370px;
}
.about__title {
    font-family: Arial, serif;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 80px 0 20px 0;
}
.about__text {
    font-family: Arial, serif;
    font-size: 14px;
    line-height: 24px;

    padding: 5% 10% 10%;
}


.card-4 {margin: -10px 0 0 0;}
.subscribe__row {
    display: flex;
    background-color: #dee3dd;
    flex-direction:column;
    padding: 5% 0;
    
    text-align: center;
}
.label {
    font-family: Arial, serif;
    font-size: 14px;
    line-height: 24px;
    padding: 0 0 20px 0;
}
.subscribe__input input{
    height: 50px;
    background-color: #efefed;
    padding: 0 0 0 20px;
}
.subscribe__btn {
    padding: 20px 0 40px;
    
}
.subscribe__btn button{
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
    background-color: #dee3dd;
    padding: 5px 20px;
    border: 1.5px solid #434543;
}



.footer {margin: -10px 0 0;}
.footer__row {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;

    font-family: Arial, serif;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}
.footer__icons {
    padding: 0 0 0 20px;
}
.fotter__menu a{
    padding: 0px 10px 0px 10px;
    vertical-align: middle;   
    letter-spacing: 0.5px;
    text-decoration: none;
    color: #434543;
}
.fotter__menu:last-child{
    padding: 0 10px 0 10px;
} */