.articles__grid{
	max-width: 840px;
	display: grid;
	column-gap: 30px;
  grid-template-columns: repeat(3, 250px);
	grid-auto-rows: 350px;

	justify-content: center;

	list-style-type: none;
	padding: 0;
	margin: 0 auto;
}